* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 1px solid black;
    margin: 10px;
    position: relative;
}

.text {
    position: fixed;
    left: 0%;
    top: 30%;
}